
body {
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
}

p, h2, h3, h4 {

opacity: 0.9;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 69px;
  top: 0px;
  border-bottom: 1px solid seashell;

}



header img {
  display: flex;
  margin-left: 10px;
  height: 50px;

}

header nav {
  margin-right: 10px;
}


header nav a {

  color: seashell;
  text-decoration: underline;
  padding: 20px 10px;
}


/* NOTE: mission  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 70px;



}

.mission {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);


}


.mission-text {
  background-color: black;
  text-align: center;
  width: 100%;
}

.mission-text h2 h4 {
  padding: 0;
  margin: 0;
  text-align: center;
}


/* NOTE: featured */


.featured {
  display: flex;
  flex-direction: column;
  width: 1000px;
  text-align: center;
  margin-top: 80px;

}


.featured-list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


.featured-image {
  width: 300px;
  height: 200px;
  padding: 0;
  margin: 10px;
}

.featured-item {
  margin: 0;
  padding: 0;
}

/* NOTE: locations  */


.location {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
  margin-top: 50px;
}

.location-title h2 {
  margin: 0
}

.address {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

}



.address h3 {
  margin: 0 auto;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 15px 20px;
  opacity: 1;

}

/* NOTE: contact */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin: 20px;
}


footer {
  display: block;
  align-items:flex-start;
  margin-left: 20px;

}
